* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(30, 30, 30);
}

.landing-page {
  font-family: sans-serif;
  text-align: center;
  padding: 13px 20px;
}

a {
  text-decoration: none;
}
/*-- Margin Setting Component --*/
.body-margin-wrapper {
  margin: 0 auto;
  max-width: 1600px;
  min-height: 500px;
}
/*--Navbar --*/
.navbar-list {
  display: flex;
  justify-content: space-between;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 28px;
}

li {
  list-style: none;
}

/*--Banner Block-*/

h1 {
  font-weight: 100;
}
.banner-block {
  margin: 240px 0px 150px 0px;
}

.banner-title {
  position: relative;
  z-index: 8;
  font-size: 60px;
  font-family: "PT Serif", serif;
  margin-bottom: -63px;
}

.left-side-carousel,
.right-side-carousel {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 7;
}
.left-side-carousel {
  top: 0px;
  left: 0px;
  background-color: transparent;
}

.right-side-carousel {
  top: 0px;
  right: 0px;
  background-color: transparent;
}

.banner-image-carousel {
  position: relative;
  aspect-ratio: 1.8;
}
.banner-image {
  position: absolute;
  top: 0px;
  /*left: 50%;
  transform: translate(-50%, 0);*/
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*--Content Block--*/

.content-block {
  display: block;
}
.text-title {
  margin-bottom: 15px;
  font-family: "PT Serif", serif;
  font-weight: 100;
  font-size: 31px;
}
.text-description {
  margin: 0px auto;
  max-width: 700px;
  line-height: 1.4;
  font-family: "Work Sans", sans-serif;
  font-size: 17px;
  color: #888888;
}

/*Footer*/

.footer-block {
  margin-top: 300px;
}
.footer-logo {
  width: 100%;
  display: block;
}
.vocabulary-title-footer {
  font-size: 18vw;
}

.footer-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family: "PT Serif", serif;
  font-size: 16px;
  font-weight: 100;
}

/* Media Queries */

@media (min-width: 750px) and (max-width: 1230px) {
  .banner-title {
    font-size: 50px;
    margin-bottom: -50px;
  }
}

@media (min-width: 600px) and (max-width: 750px) {
  .banner-title {
    font-size: 40px;
    margin-bottom: -40px;
  }

  .navbar-list {
    font-size: 20px;
  }
}

@media (min-width: 450px) and (max-width: 600px) {
  .landing-page {
    padding: 10px 10px 30px 10px;
  }
  .banner-block {
    margin: 100px 0px 140px 0px;
  }

  .banner-title {
    font-size: 30px;
    margin-bottom: -30px;
  }

  .navbar-list {
    font-size: 20px;
  }

  /*--Content-Block--*/
  .text-title {
    font-size: 24px;
  }

  .text-description {
    font-size: 14px;
  }

  .footer-block {
    margin-top: 150px;
  }

  .footer-links {
    display: block;
    font-size: 12px;
  }
}

@media (min-width: 300px) and (max-width: 449px) {
  .landing-page {
    padding: 15px 9px 30px 9px;
  }

  .navbar-list {
    font-size: 19px;
  }

  .banner-block {
    margin: 85px 0px 130px 0px;
  }
  .banner-title {
    font-size: 28px;
    margin-bottom: -28px;
  }

  .text-title {
    font-size: 22px;
  }

  .text-description {
    font-size: 12.7px;
  }
  .footer-block {
    margin-top: 90px;
  }
  .footer-links {
    display: block;
    font-size: 10px;
    margin-top: 7px;
  }
}
